.logo{
    width: 100%;
    height: 75px;
}

.nav-color{
    background-color: #2d4b7a;
}
.footer-color{
    background-color: #2d4b7a;
}

.container-fluid{width: 70%;}
.mg-auto{margin: 0 0 0 auto !important;}
.mg-auto li{margin: 0 45px;}
.nav-link{color: white !important; font-weight: bold;}

.dropdown-item{
    color: black !important;
    font-weight: bold;
}

.dropdown-menu li {
    margin: 0 10px;
}