@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'Noto Sans KR';
}

.contents-wrap{
    min-height:100%;
    position:relative;
    padding-bottom: 200px;
}

a{
    text-decoration: none !important;
    color: black;
}
/******************
Grid CSS
*******************/
.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.col-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
.col-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.col-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
.col-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.col-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
.col-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
.col-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
.col-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
.col-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
.col-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}

/******************
CSS option
*******************/
.mg-auto{margin: 0 auto;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-50{margin-top: 50px;}
.mt-70{margin-top: 70px;}
.mt-100{margin-top: 100px;}
.mb-40{margin-bottom: 40px;}
.mb-70{margin-bottom: 70px;}
.mb-100{margin-bottom: 100px;}
.mtb-30{margin: 30px 0;}

.pt-50{padding-top: 50px;}
.pb-30{padding-bottom: 30px;}
.ptb-30{padding: 30px 0;}

.text-center{text-align: center;}
.login-btn{width: 100%; border-radius: 40px; background: #2d4b7a; color: white; height: 50px; border: none;}
.signup-btn{width: 100%; border-radius: 40px; background: #2d4b7a; color: white; height: 50px; border: none;}
.card-login{padding: 15px 0; border-bottom: 1px solid #ececec;}
.card-login h2{font-size: 1.3rem;}
.card-login h3{font-size: 1rem;}
.card-header-login{margin: 0 auto;}
.card-body-login{margin: 0 auto; padding-top: 25px;}

.wrap{width: 70%; margin: 0 auto; overflow: visible;}

/******************
slick option
*******************/
.slide-section { margin: 0 auto; width: 70%; overflow: hidden;}

.track-inner { margin: 0 auto; width: 72%; }
.slick-track { height: 350px; margin-right: 0; }
.slick-slider { width: 100%; }
.slick-slide img{    
	display: block;
	width: 90%;
	height: 100%;
	margin: 0 auto;  
    border-radius: 30px;
}
.slider-nav .slick-slide{
	display: block;
	width: calc(100vw/8);
	height: calc(100vw/8);
}
.slider-nav .slick-slide img {
	background-position: center center; 
	background-size: cover;
	width: calc(100vw/12);
	height: calc(100vw/12);
	margin: 50px auto;
}
 
.slick-dots {
    display: flex;
    justify-content: center;    
    margin: 0;
    padding: 1rem 0 2rem 0;    
    list-style-type: none;  
    top: 400px !important;
    left: 600px !important;
}
.slick-dots li { margin: 0 0.25rem;}   
.slick-dots button {
	display: block;
	width: 1rem;
	height: 1rem;
	padding: 0;         
	border: 1px solid black;
	border-radius: 100%;
	background-color: rgba(255,255,255, 0.5);           
	text-indent: -9999px;
	cursor: pointer;
} 
.slick-dots li.slick-active button {background-color: black;}
.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: #111111;;
    border: 0;
    background: none;
    z-index: 1;
    top: 0px;
    cursor: pointer;
}
.slick-prev {
    left: 0px;
	background: url('./leftArrow-off.svg') no-repeat center center;
	width: 4%;
	height: 100%;
}
.slick-next {
    right: 0px;
	background: url('./rightArrow-off.svg') no-repeat center center;
    text-align: right;
	width: 4%;
	height: 100%;
}

.card { height: 99%; margin: 0 15%; border: 1px solid #ececec; }
.card-header{ height: 33%; border: 1px solid #ececec;}
.card-img { height: 66%; }

/******************
card option
*******************/
.contest-section-title{
    width: 66%;
    margin: 0 auto;
    border-bottom: 3px solid #2d4b7a;
}
.contest-section-title h2{font-weight: 700;}
.contest{
    width: 100%;
    height: 400px;
}
.custom-contest{background: #2d4b7a;}
.custom-contest h4{
    font-size: 0.9rem !important;
    font-weight: 700;
    color: white;
}

.card-hover{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    vertical-align: top;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(150, 150, 150, 0.1),
    -5px -5px 10px rgba(150, 150, 150, 0.1);
    transition: top 0.5s;
    top: 0;
}

.card-hover:hover{
    transition: top 0.5s;
    top: -5px;
    box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.1),
    -5px -5px 10px rgba(50, 50, 50, 0.1);
}

/******************
footer option
*******************/
.custom-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

/******************
mypage option
*******************/
.mypage-title{margin: 30px 0;}
.mypage-title h1{font-size: 1.8rem; font-weight: 700;}

.mypage-board, .mypage-comment{margin: 25px 0;}
.mypage-board h1, .mypage-comment h1{font-size: 1rem; font-weight: 700;}

.custom-border{border-bottom: dashed; border-bottom-color: #acacac;}

/******************
trade option
*******************/
.fw-bold img{border: 2px solid #ececec;}
.fw-bold h5{font-size: 1rem;}
.fw-bold .h5{font-size: 1rem;}
.fw-bold div{font-size: 0.9rem;}
