{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-light nav-color">
    <div class="container-fluid">
        <div>
            <a class="" href="{% url 'index' %}"><img class="logo" src="{% static 'temp_logo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mg-auto">
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" href="#">공지</a>#}
{#                </li>#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="collegeDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        단과대학
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="collegeDropdownMenu">
                        <li><a class="dropdown-item" href="/college/">전체</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=비즈니스대학">비즈니스대학</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=인문사회대학">인문사회대학</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=공과대학">공과대학</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=사범대학">사범대학</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=예술대학">예술대학</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=보건의료과학대학">보건의료과학대학</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=교양대학">교양대학</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=항공학부">항공학부</a></li>
                        <li><a class="dropdown-item" href="/college?college_name=군사학과">군사학과</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'club:index' %}">동아리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'free:index' %}">자유게시판</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'common:logout' %}">{{ user.username }}(로그아웃)</a>
                    {% else %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Login
                        </button>
                    {% endif %}
                </li>
                <!-- 로그인 모달 시작 -->
                <div class="modal" id="loginModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">로그인</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                {% include 'common/modal_login.html' %}
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 로그인 모달 끝 -->
            </ul>
        </div>
    </div>
</nav>