{% extends "club/club_base.html" %}
{% load static %}
{% block club_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'question_detail.css' %}">
    <div class="card article_card mb-4">
        <div class="card-header article_header">
            <div class="article_title">
                <div style="margin-bottom: 7px;">
                    <a class="college_link" href="/club/">이전페이지 ></a>
                </div>
                <h3>{{ question.title }}</h3>
            </div>
            <div class="question_info d-flex flex-row">
                <div class="profile_img d-flex align-items-center">
                    <img src="{{ question.author.profile_img.url }}" width="36px" height="36px">
                </div>
                <div class="profile_info col">
                    <div class="mx-1 mb-0 question_author">{{ question.author }}</div>
                    <div class="d-flex article_info">
                        <p class="mx-1 my-0">{{ question.create_date|date:'Y.m.d H:i' }}</p>
                        <p class="mx-1 my-0">조회수 {{ question.views }}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mx-2"><i class="fa-solid fa-comment-dots"> 댓글 {{ question.comment_set.count }}</i></div>
            </div>
        </div>

        {#본문 영역#}
        <div class="card-body">
            <div>
                {% if question.imgs %}
                    <div class="text-center">
                        <img src="{{ question.imgs.url }}" width="100%">
                    </div>
                {% endif %}
                {{ question.content|linebreaks }}
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="heart_box pb-2">
                <a class="text-decoration-none recommend" style="color: black" href="javascript:void(0)" data-uri="{% url 'board:question_like' question.id  %}"><i class="fa-solid fa-heart" style="color: red"></i> 좋아요 {{question.like.count}}</a>
                <i class="fa-solid fa-comment-dots ms-1"> 댓글 {{ question.comment_set.count }}</i>
            </div>
            <div>
                {% if request.user == question.author %}
                    <a href="{% url 'club:question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                       data-uri="{% url 'club:question_delete' question.id %}">삭제</a>
                {% endif %}
            </div>
        </div>

        {#댓글 영역#}
        <div class="card-footer comment_box">
            <h5 class="fw-bold">댓글</h5>
            <div>
                {% for comment in question.comment_set.all  %}
                    <div class="d-flex flex-column">
                        <div class="user_comment d-flex flex-row align-items-center">
                            <img class="mb-auto mt-1" src="{{ comment.author.profile_img.url }}" style="height: 36px; width: 36px;">
                            <div class="comment_content">
                                <div class="d-flex flex-row" style="font-weight: bold">
                                    {{ comment.author }}
                                    {% if comment.author == question.author %}
                                        <div class="border-1 rounded-pill text-center ms-1 px-1 d-flex align-items-center" style="background-color: #dfc2c4; font-size: 8px; font-weight: bold">작성자</div>
                                    {% endif %}
                                </div>
                                <div>{{ comment.content|linebreaks }}</div>

                            </div>

                        </div>
                        <div class="comment_cdate" style="padding-left: 36px;">{{ comment.create_date|date:'Y.m.d H:i' }}</div>
                    </div>
                    <hr>
                {% endfor %}
            </div>

            <div class="card p-2 comment_input_box" style="margin: 0">
                <form action="{% url 'club:comment_create' question.id %}" method="post">
                    {% csrf_token %}
                    <div class="comment_input_info">
                        <div class="comment_input_username">{{ request.user }}</div>
                        <textarea name="content" id="content" class="comment_input_text" rows="1" placeholder="댓글을 남겨보세요." onkeyup="xSize(this)"></textarea>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">등록</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function xSize(e)
        {
            e.style.height = '1px';
            e.style.height = (e.scrollHeight + 12) + 'px';
        }
        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function(element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
                ;
            });
        });

        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>
{% endblock %}