{% extends "board/question_base.html" %}
{% load static %}
{% block board_content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'question_list.css' %}">
    <div class="col-12 text-center board-title">
        {{ college_name }}
    </div>
    <div class="container my-3">
        <div class="d-flex flex-row justify-content-between">
            <div class="input-group">
                <div class="my-auto">총 {{ question_num }}건</div>
                <select class="my-3 ms-2 college_name" name="categoryType">
                    <option value="">전체</option>
                    {% for college in college_list %}
                        <option value="{{ college.department }}" {% if college_name == college.department %}selected{% endif %}>{{ college.department }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row my-3">
                <div class="">
                    <div class="input-group">
                        <select class="me-2" name="searchType">
                            <option value="" selected="selected">제목+내용</option>
                            <option value="제목">제목</option>
                            <option value="내용">내용</option>
                        </select>
                        <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table text-center">
            <thead>
            <tr class="border-top border-dark">
                <th>번호</th>
                <th>구분</th>
                <th style="width: 60%;">제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>좋아요</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            {% if question_list %}
                {% for question in question_list %}
                    <tr>
                        <td class="">{{ forloop.counter }}</td>
                        <td>
                            {% if question.college %}
                                {{ question.college }}
                            {% else %}
                                미분류
                            {% endif %}
                        </td>
                        <td class="text-start">
                            <a class="question_title" href="{% url 'board:detail' question.id %}" >{{ question.title|truncatechars:40 }}
                                {% if question.imgs %}
                                    <i class="fa-solid fa-image"></i>
                                {% endif %}
                                {% if question.comment_set.count > 0 %}
                                    <span class="text-danger small mx-2">[{{ question.comment_set.count }}]</span>
                                {% endif %}
                            </a>
                        </td>
                        {% if question.author.nickname %}
                            <td>{{ question.author.nickname }}</td>
                        {% else %}
                            <td>{{ question.author }}</td>
                        {% endif %}
                        <td>{{ question.create_date|date:"Y-m-d" }}</td>
                        <td>{{ question.like.count }}</td>
                        <td>{{ question.views }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">아직 게시글이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        {#게시글 버튼#}
        {% if user.is_authenticated %}
            <a href="{% url 'board:question_create' %}" class="btn btn-primary">게시글 작성</a>
        {% endif %}

        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_previous %}
                <li class="page-item">
                    <a class="page-link page_before" data-page="{{ question_list.previous_page_number }}" href="#">&nbsp;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link page_before_disable" tabindex="-1" aria-disabled="true" href="#">&nbsp</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in question_list.paginator.page_range %}
                {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                    {% if page_number == question_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
                <li class="page-item">
                    <a class="page-link page_next" data-page="{{ question_list.next_page_number }}" href="#" style="">&nbsp;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link page_next_disable" tabindex="-1" aria-disabled="true" href="#">&nbsp;</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->

    </div>
    {% if not college %}
        <form id="searchForm" method="get" action="{% url 'board:index' %}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
            <input type="hidden" id="college_name" name="college_name" value="{{ college_name }}">
        </form>
    {% else %}
        <form id="searchForm" method="get" action="{% url 'board:question_college_list' college %}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
            <input type="hidden" id="college_name" name="college_name" value="{{ college_name }}">
        </form>
    {% endif %}

{% endblock %}
{% block script %}
    <script type='text/javascript'>
        $(document).ready(function(){
            $(".page-link").on('click', function() {
                $("#page").val($(this).data("page"));
                $("#searchForm").submit();
            });

            const btn_search = document.getElementById("btn_search");
            btn_search.addEventListener('click', function() {
                document.getElementById('kw').value = document.getElementById('search_kw').value;
                document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
                document.getElementById('searchForm').submit();
            });
            $(".college_name").on('change', function() {
                $("#college_name").val($(this).val());
                $("#page").val(1);
                $("#searchForm").submit();
            });

        });
    </script>
{% endblock %}